In [111]:
import os
import pandas as pd
import shutil
import numpy as np

In [101]:
# Import data
data_path = os.path.join("..", 'data', 'Data_popularity_google.csv')
df = pd.read_csv(data_path)
print(df.head())

  municipality  year  treat  newcomers     rents  popu  year_2013  year_2016  \
0       adachi  2008      0    28533.0  281500.0   484        NaN        NaN
1       adachi  2009      0    31389.0  275200.0   528        NaN        NaN
2       adachi  2010      0    27831.0  263500.0   459        NaN        NaN
3       adachi  2011      0    27978.0  262100.0   447        NaN        NaN
4       adachi  2012      0    27850.0  262800.0   423        NaN        NaN

   year_2018
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [103]:
# First check data types of each column
print(df.dtypes)

municipality     object
year              int64
treat             int64
newcomers       float64
rents           float64
popu              int64
year_2013       float64
year_2016       float64
year_2018       float64
dtype: object

In [105]:
#Fix common data quality errors (for example, string vs number, missing value)
# Check missing values
missing_values = df.isnull().sum()
print(missing_values)

municipality      0
year              0
treat             0
newcomers       120
rents           263
popu              0
year_2013       557
year_2016       560
year_2018       560
dtype: int64

In [107]:
# Handle missing values 
# First, remove year_2013 and year_2016 columns because these have too many missing values
df.drop(['year_2013', 'year_2016','year_2018'], axis=1, inplace=True)
print(df.head())

  municipality  year  treat  newcomers     rents  popu
0       adachi  2008      0    28533.0  281500.0   484
1       adachi  2009      0    31389.0  275200.0   528
2       adachi  2010      0    27831.0  263500.0   459
3       adachi  2011      0    27978.0  262100.0   447
4       adachi  2012      0    27850.0  262800.0   423

In [119]:
# Remove all missing values
df.replace("", np.nan, inplace=True)
df.dropna(inplace=True)
print(df.head())

  municipality  year  treat  newcomers     rents  popu
0       adachi  2008      0    28533.0  281500.0   484
1       adachi  2009      0    31389.0  275200.0   528
2       adachi  2010      0    27831.0  263500.0   459
3       adachi  2011      0    27978.0  262100.0   447
4       adachi  2012      0    27850.0  262800.0   423

In [125]:
# Save this dataset
data_folder_path = os.path.join("..", 'data', 'data_removeMissingValues.csv')
df.to_csv(data_folder_path, index=False)

Notebook moved to ../scripts_stata_python/Question5(python)_read_file_fix_errors.ipynb